<style type="text/css">
      body {
          font-family: "Arial","sans-serif";
          font-size: 11.0pt;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
      }

      #container {
      }

      page[size="A4"] {
          width: inherit;
          height: inherit;
          margin: 0;
          padding: 0;
     
      }
</style>

<!DOCTYPE html>
<html>
<head>

</head>
<body>

    <page size="A4">
   

        <p style="text-align: center;font-weight: bold;font-size: 13pt;text-decoration: underline;">

            City Details
        </p>
       
        <table border="1" style="text-align:center;margin-left:auto;margin-right:auto;">

            <tr>
                <th>
                    City
                </th>
                <th>
                    State
                </th>
                <th>
                    Country
                </th>
            </tr>
            {td}
        </table>

        
       
        


    </page>
</body>
</html>