<h3>Upload File(s)</h3>
<style>
    .red {
        color: red;
    }
</style>
<form id="uploader">
    <div class="row">
        <div class="col-sm-6">
            User Name : <input type="text" id="txtuploader" />
            <br />            <br />
            <input id="fileInput" type="file" multiple>
            <br />            <br />

            <table class="table" id="FilesList" style="visibility:hidden">
                <tr>
                    <th>
                        Attachment(s)
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </table>
            <input type="button" id="btnupload" value="Upload" style="float:right" />
            <input type="range" min="3" max="300" id="valuerange" value="100"/>
            <div id="na"></div>
        </div>
    </div>
</form>
<script>

        var formdata = new FormData(); //FormData object
        $(document).ready(function () {

            $("#valuerange").on("change", function () {
                alert();
                $("#na").html($(".valuerange").val());
                
            });

            $("#fileInput").on("change", function () {
                var fileInput = document.getElementById('fileInput');
                //Iterating through each files selected in fileInput
                for (i = 0; i < fileInput.files.length; i++) {

                    var sfilename = fileInput.files[i].name;
                    let srandomid = Math.random().toString(36).substring(7);

                    formdata.append(sfilename, fileInput.files[i]);

                    var markup = "<tr id='" + srandomid + "'><td>" + sfilename + "</td><td><a href='#' onclick='DeleteFile(\"" + srandomid + "\",\"" + sfilename +
                        "\")'><span class='glyphicon glyphicon-remove red'></span></a></td></tr>"; // Binding the file name
                    $("#FilesList tbody").append(markup);

                }
                chkatchtbl();
                $('#fileInput').val('');
            });

            $("#btnupload").click(function () {
                formdata.append('uploadername', $('#txtuploader').val());
                $.ajax({
                    url: 'https://localhost:44310/api/AgenciesMasters',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: formdata,
                    async: false,
                    success: function (result) {
                        if (result != "") {
                            alert(result);
                        }
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            });
        });
        function DeleteFile(Fileid, FileName) {
            formdata.delete(FileName)
            $("#" + Fileid).remove();
            chkatchtbl();
        }
        function chkatchtbl() {
            if ($('#FilesList tr').length > 1) {
                $("#FilesList").css("visibility", "visible");
            } else {
                $("#FilesList").css("visibility", "hidden");
            }
        }
</script> 